@import '../../../sass/variables';


@font-face {
    font-family: Poppins-Regular;
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('./assets/fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('./assets/fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
   * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
      font-family: Poppins-Bold;

      body, html {
        height: 50%;
        font-family: Poppins-Regular, sans-serif;
      }   
        a {
          font-family: Poppins-Regular;
          font-size: 14px;
          line-height: 1.7;
          color: #666666;
          margin: 0px;
          transition: all 0.4s;
          -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
      
        a:focus {
          outline: none !important;
        }
      
          
        a:hover {
          text-decoration: none;
          color: #a64bf4;
        }
      }

        p {
          font-size: 14px;
          line-height: 1.7;
          color: #666666;
          margin: 0px;
      }
    
        ul, li {
          margin: 0px;
          list-style-type: none;
      }
        input {
          margin-top: 15px;
          margin-bottom: 15px;
          border-radius: 3px;
      }

      button {
        outline: none !important;
        background-color:$white;
        color:  $main-color ;
        font-weight: 800;
        border-bottom-left-radius: $border-radius-size;
        border-bottom-right-radius: $border-radius-size;
        cursor: pointer;
  
       button:hover {
          cursor: pointer;
       }
  }


}

.modal-dialog{
  position:absolute!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

   .modal-content {
     border-radius: $border-radius-size;
     box-shadow: -0.063rem 1rem 1.875rem -1rem $black;
     background-color: $main-color;
     color: white;

      .modal-header{
        border-bottom: none!important;
        display: flex;
        flex-direction: column;
        align-items: center;
     

        .btn.close {
          color: white;
        } 

        .image {
          width: 150px;
          width: 150px;
        }
     

       .modal-title{
          color: #ebd800;
       }

}
    .row {
      display:flex;
      flex-direction: column;
      align-items: center;

      .text-danger {
        color: $orange;
     }
  }


.modal-footer{
  border-top:none!important;
  display:flex;
  flex-direction: column;
  align-items: center;


 

}

}
}

