<div class="modal-dialog">
  <div class="modal-content">
    <div id="logInForm" class="bg-weather">
       <button type="button" class="btn-close"(click)="close()">X</button>
        <div class="modal-header">
        <img class="image" src="../../../../assets/images/sol3.png" alt="">
        <div *ngIf="needSignUp" id="needSignUp" class="border">
          <p class="text-danger pt-2"><small>The credentials you entered are incorrect or you need to register
              first.</small></p>
          <p class="text-danger"><small>Reminder: passwords are case sensitive.</small></p>
        </div>
        <h2 class="modal-title">LOG IN</h2>
      </div>
      <div class="modal-body">
        <form class="row" [formGroup]="logInForm">

          <input class="form-control" formControlName="email" type="email" placeholder="Email Address">
          <span class="text-danger" *ngIf="validField('email')">
            Email is required. Please, make sure your email address is correct.
          </span>

          <input class="form-control" formControlName="password" type="password" placeholder="Password">
          <span class="text-danger" *ngIf="validField('password')">
            Password is required and needs at least 6 characters.
          </span>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="logIn(); canClose===true? close():''">Sign Up
        </button>
        <button type="submit" (click)="openSignUpModal(); close()" class="btn">Create an
          account</button>
      </div>
      
    </div>
  </div>
</div>