<div class="modal-dialog">
      <div class="modal-content">
            <div id="signUpForm">
                  <button type="button" class="btn-close"(click)="close()">X</button>
                  <div class="modal-header">
                        <img class="image" src="../../../../assets/images/sol3.png" alt="">
                        <h2 class="modal-title">CREATE YOUR ACCOUNT</h2>
                  </div>
                  <div class="modal-body">

                        <form (ngSubmit)="signUp()" class="row" [formGroup]="signUpForm">

                              <input class="form-control p-1 my-2 rounded-3" formControlName="firstName" type="text"
                                    placeholder="First Name">
                              <span class="text-danger" *ngIf="validField('firstName')">
                                    First name is required.
                              </span>

                              <input class="form-control p-1 my-2 rounded-3" formControlName="lastName" type="text"
                                    placeholder="Last Name">
                              <span class="text-danger" *ngIf="validField('lastName')">
                                    Last name is required.
                              </span>

                              <input class="form-control p-1 my-2 rounded-3" formControlName="email" type="email"
                                    placeholder="Email Address">
                              <span class="text-danger" *ngIf="validField('email')">
                                    Email is required. Please, make sure your email address is correct.
                              </span>

                              <input class="form-control p-1 my-2 rounded-3" formControlName="password" type="password"
                                    placeholder="Password">
                              <span class="text-danger" *ngIf="validField('password')">
                                    Password is required and needs at least 6 characters.
                              </span>

                        </form>
                  </div>
                  <div class="modal-footer">
                        <button type="submit" class="btn btn-light"
                              (click)="signUp(); canClose===true? close():''">Create Account</button>
                        <p class="text-center">Already have an account? <span><a
                                          (click)="openLogInModal(); close()" class="log">Log in</a></span> </p>

                  </div>
            </div>
      </div>
</div>