@import '../../sass/variables';

nav.nav {
   display: flex; 
   flex-direction: row;
   padding: 0.75rem 0.50rem;
   background-color: $main_color;
   margin-bottom: 0.75rem;

   .brand {
       color: $white;
       font-weight: 600;
       line-height: 1.75rem;
       font-size: 1.50rem;
   }

   .options {
       display:flex;
       margin-left: auto;
       font-size: 1rem;
 
      .menu-link {
        color: $white;
      
     }
 
       .menu-link:hover{
        color: black!important;
        cursor: pointer;
   }
   }

 
}

